/*
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}*/

html, body {
  height: 100%;
}

body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/69/a3/99/69a399353d0001cba84fc476ecda3f45.jpg");
}

.voffset3 { margin-top: 90px; }

.mz-h1 { 
  font-size: 100px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.mz-searchbar {
  opacity: 0.75;
}

#header {
  padding: 0px;
  background: rgba(0,0,0,0.8);
}

#header a {
  color: white;
  opacity: 1;
}

#header .navbar-brand {
  font-weight: 400;
  color: white;
  opacity: 0.9;
  border-right: 0.1px solid #ffffff;
  border-right-color: rgba(0,0,0,0.3);
}

#header .navbar-brand:hover {
  opacity: 1;
}

#wrap {
  min-height: calc(100% - 145px);
}

#content {
  padding-right: 20px;
  padding-left: 20px;
  overflow: auto;
/*  padding-bottom: 50px;*/
  color: black;
}

#footer {
  min-height: 50px;
  margin-bottom: -15px;
  background: rgba(0,0,0,0.8);
  margin-top: 20px;
}

#footer #footer_links {
  float: right;
}
